@page
@model ClienteWeb.Pages.ReporteVBNA.IndexModel
@{
}
<h2>Reporte Ventas por nombre y apellido</h2>
<form>
    <div class="mb-3">
        <label asp-for="nom" class="form-label">Nombre</label>
        <input asp-for="nom" formnovalidate type="text" class="form-control" id="exampleInputPassword1">
    </div>
    <div class="mb-3">
        <label asp-for="ape" class="form-label">Apellido</label>
        <input asp-for="ape" formnovalidate type="text" class="form-control" id="exampleInputPassword1" >
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>

@if (Model.ms != null)
{

    // Convertir el MemoryStream en un array de bytes
    byte[] data = Model.ms.ToArray();

    // Convertir el array de bytes a una cadena Base64
    string base64String = Convert.ToBase64String(data);

    // Generar el enlace con el contenido del MemoryStream
    string dataUri = "data:application/pdf;base64," + base64String;

    <embed src="@dataUri" width="100%" height="600" type="application/pdf">

}
else
{
    <h2>No se encontro reporte</h2>
}