@page
@model ClienteWeb.Pages.ReportePDPF.IndexModel
@{
}
<h2>Reporte Lista de Paquetes Disponibles por fechas</h2>
<form>
    <div class="mb-3">
        <label asp-for="fecha1" class="form-label">Fecha inicial</label>
        <input type="date" asp-for="fecha1"/>

    </div>
    <div class="mb-3">
        <label asp-for="fecha2" class="form-label">Fecha Final</label>
        <input type="date" asp-for="fecha2"/>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>

@if (Model.ms != null)
{

    // Convertir el MemoryStream en un array de bytes
    byte[] data = Model.ms.ToArray();

    // Convertir el array de bytes a una cadena Base64
    string base64String = Convert.ToBase64String(data);

    // Generar el enlace con el contenido del MemoryStream
    string dataUri = "data:application/pdf;base64," + base64String;

    <embed src="@dataUri" width="100%" height="600" type="application/pdf">

}
else
{
    <h2>No se encontro reporte</h2>
}